<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/template}">
<head>
    <meta charset="UTF-8">
    <title>Cấu hình</title>
</head>
<body>
<header layout:fragment="header" class="mt-3 ml-2 mr-2">
    <script>
        $(document).ready(function () {
            showDonGia();
        });

        function editDonGia(idDonGia) {
            var giaMoi =$.trim($("#gia").val());
            var ghiChuMoi = $.trim($("#ghiChu").val());
            $.ajax({
                url: "/cap-nhat-don-gia",
                type: "POST",
                dataType: "json",
                data: {
                    "idDonGia": idDonGia,
                    "giaMoi": giaMoi,
                    "ghiChuMoi": ghiChuMoi
                }
            });
            location.reload();
        }

        function showDonGia() {
            $.ajax({
                url: "/danh-sach-don-gia",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var contentString;
                    for (var i = 0; i < data.length; i++) {
                        contentString = contentString
                            + '<tr role="row" class="odd">'
                            + '<td style="padding: 0px 0px 0px 17px">' + data[i][0] + '</td>'
                            + '<td style="padding: 0px 0px 0px 0px"><textarea cols="10" rows="1" id="gia">' + data[i][1] + '</textarea></td>'
                            + '<td style="padding: 6px 0px 0px 0px"><textarea cols="50" rows="2" id="ghiChu">' + data[i][2] + '</textarea></td>'
                            + '<td style="padding: 0px 0px 0px 0px"><button data-toggle="tooltip" title="Update" class="btn btn-info center-block ml-1" onclick="editDonGia('+data[i][0]+')" style="padding: 3px 6px 3px 6px; border-radius: 54%;"><i class="icon-pencil"></i></button>' +
                            '<a data-toggle="tooltip" title="Remove"><button data-toggle="modal" data-target="#confirmModalDeleteCustomer"  onclick="deleteDonGia('+data[i][0]+')" class="btn btn-danger center-block ml-1" style="padding: 3px 6px 3px 6px; border-radius: 54%;"><i class="icon-trash"></i></button></a></td>'
                            + '</tr>';
                    }
                    $("#bang_don_gia_dien").html(contentString);
                }, error: function () {
                    alert("FAIL!");
                }
            });
        }

        function addDonGia() {
            var gia = $('#addGia_input').val().trim();
            var ghiChu = $.trim($("#addGhiChu-input").val());
            $.ajax({
                url: "/them-don-gia",
                type: "POST",
                dataType: "json",
                data:{
                    "gia":gia,
                    "ghiChu":ghiChu
                }
            });
            location.reload();
        }
        
        function deleteDonGia(idDonGia) {
            $.ajax({
                url: "/xoa-don-gia",
                type: "POST",
                dataType: "json",
                data:{
                    "idDonGia":idDonGia
                }
            });
            location.reload();
        }
    </script>
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline" style="margin-bottom: 10px">
            <div class="page-title d-flex">
                <h4><i class="icon-arrow-right8 mr-2"></i> <span class="font-weight-semibold">Đơn giá điện</span></h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
</header>
<section class="container-fluid" layout:fragment="content_body">
    <div class="row">
        <div class="col-md-4">
            <!-- Horizontal form -->
            <div class="card">
                <div class="card-header header-elements-inline d-flex justify-content-center">
                    <h5 class="card-title">Thêm đơn giá</h5>
                </div>
                <div class="card-body">
                    <form action="#">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Đơn giá</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="addGia_input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Ghi chú</label>
                            <div class="col-lg-9">
                                <textarea rows="5" cols="5" class="form-control" placeholder="Enter note" id="addGhiChu-input"></textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary legitRipple" style="padding: 4px 4px 4px 4px"  onclick="addDonGia()">Thêm</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /horizotal form -->
        </div>

        <div class="col-md-8">
            <!-- Vertical form -->
            <div class="card">
                <div class="card-header header-elements-inline d-flex justify-content-center">
                    <h5 class="card-title">Bảng giá tiền điện</h5>
                </div>
                <div class="card-body">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <div class="datatable-scroll-wrap">
                            <table class="table datatable-responsive dataTable no-footer dtr-inline"
                                   id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                <tr role="row">
                                    <th style="padding-left: 0px    ">Mã giá</th>
                                    <th>Giá</th>
                                    <th>Ghi chú</th>
                                    <th>Tùy chọn</th>
                                </tr>
                                </thead>
                                <tbody id="bang_don_gia_dien">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /vertical form -->
        </div>
        <div class="modal fade" id="SuccessModalSendMail" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-success-600">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            style="margin-top: 32px;  margin-bottom: 43px;line-height: 1.5385;margin-left: 48px;">Thành
                            công!</h5>
                        <svg id="successAnimation" class="animated" xmlns="http://www.w3.org/2000/svg" width="70"
                             height="70" viewBox="0 0 70 70">
                            <path id="successAnimationResult" fill="#D8D8D8"
                                  d="M35,60 C21.1928813,60 10,48.8071187 10,35 C10,21.1928813 21.1928813,10 35,10 C48.8071187,10 60,21.1928813 60,35 C60,48.8071187 48.8071187,60 35,60 Z M23.6332378,33.2260427 L22.3667622,34.7739573 L34.1433655,44.40936 L47.776114,27.6305926 L46.223886,26.3694074 L33.8566345,41.59064 L23.6332378,33.2260427 Z"/>
                            <circle id="successAnimationCircle" cx="35" cy="35" r="24" stroke="#979797" stroke-width="2"
                                    stroke-linecap="round" fill="transparent"/>
                            <polyline id="successAnimationCheck" stroke="#979797" stroke-width="2"
                                      points="23 34 34 43 47 27" fill="transparent"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>